{% extends 'base.html' %}

{% block content %}

<form class="search" method="get" action="{% url 'search' %}">
    <input class="rech" type="text" name="q" placeholder="Rechercher...">
    <button class="bouton-rech" type="submit">OK</button>
</form>

{% for product in products %}

<style>
    article {
        background: #8692f7;
        padding-bottom: 80px;
        width: 300px;
        border-radius: 20px;
        float: left;
        margin-left: 20px;
        margin-top: 15px;
        text-align: center;
        border: 2px solid #8692f7;
    }

    article:hover {
        transform: scale(1.1);
    }

    h2 {
        text-align: center;
        margin: 15px 0 15px 0;
        padding-top: 30px;
    }

    .voir {
        background-color: #fff;
        color: #444;
        padding: 20px;
        border-radius: 10px;
        position: static;
        border: 2px solid #8692f7;
    }

    .voir:hover {
        background: #444;
        color: #fff;
    }

    #product {
        display: inline-block;
        padding: 20px;
    }

    .rech {
        padding-left: 50px;
        border-radius: 5px;
        padding-top: 20px;
    }

    .bouton-rech {
        background-color: #8692f7;
        border-radius: 4px;
        padding-right: 5px;
        padding-top: 20px;
    }

    .bouton-rech:hover {
        background-color: #444;
    }

    .search {
        float: right;
        margin-right: 2%;
        position: relative;
        top: 35px;
    }

    body {
        background-color: #d4dde4;
    }


</style>

<nav id="product">
    <ul>
        <li>
            <article>

                <h2>{{ product.name }}</h2>
                <img id="image" src="{{ product.thumbnail.url }}" alt="{{ product.name }}"
                     style="max-width: 200px; max-height: 150px"><br><br><br>
                <a class="voir" href="{{ product.get_absolute_url }}">Voir l'article</a>

            </article>
        </li>
    </ul>
</nav>


{% endfor %}

{% endblock %}