{% extends 'base.html' %}

{% block content %}
<style>
  .success-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    text-align: center;
  }
</style>

<div class="success-container">
  <h1>Paiement Réussi !</h1>
  <h2>Vous recevrez un mail de votre transaction, indiquez-y vos lieu de residence et recevez votre article dans les 72 heurres !!</h2>
</div>

{% endblock %}